<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/formProducts.css">

  </head>
  <body>
    <%- include("partials/header.ejs") %> 

    <h1>Editar el auto:" "</h1>

    <main >
      <div class="form-container">

        <form action="/products/edit/<%= auto.id %>?_method=PUT" method="POST">
  
          <div class="field-wrap">
            <label for="marca">Marca:</label>
            <input type="text"  value="<%= auto.mark %>" name="mark" id="marca">
          </div>
          
          <div class="field-wrap" >
            <label for="modelo">Modelo:</label>
            <input type="text" value="<%= auto.model %>" name="model"  id="modelo">
          </div>
  
          <div class="field-wrap">
            <label for="precio">Precio:</label>
            <input type="number" value="<%= auto.price %>" name="price" id="precio">
          </div>
  
          <div >

            <p>Colores:</p>
            <div>
              <input type="radio" value="red" id="rj" name="color">
              <label for="rj">Rojo</label> 
            </div>
            <div>
              <input type="radio" value="gray" id="gr" name="color">
              <label for="gr">Gris</label>
            </div>
            <div>
              <input type="radio" value="black" id="ng" name="color">
              <label for="ng">Negro</label>
            </div>
             <div>
              <input type="radio" value="white" id="wt" name="color">
              <label for="wt">Blanco</label>
            </div>
          </div>

          <div class="field-wrap">
            <button type="submit">
              Editar
            </button>
          </div>

        </form>
        
        <form action="/products/delete/<%= auto.id %>?_method=DELETE" method="POST">
          <button type="submit">
            Borrar
          </button>
        </form>
      
      </div>
    </main>
    <%- include("partials/footer.ejs") %> 

  </body>
</html>